@font-face {    /* подключение шрифта */
   font-family: OpenSans-Regular;
   src: local("Open Sans"),
   url(../fonts/OpenSans-Regular.woff);
   font-weight: 400;
   font-style: normal;
} 

@font-face {
   font-family: OpenSans-Bold;
   src: local("Open Sans"),
   url(../fonts/OpenSans-Bold.woff);
   font-weight: 700;
   font-style: normal;
} 

 /* === сброс стилей margin и padding === */
 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.wrap {
   width: 100%;
}

.header {
   background-image: url(../img/banner-bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;

   padding: 30px 0 128px;
   position: relative;
   z-index: 0;
}

.header::after {
   content: "";
   height: 100%;
   width: 100%;
   
   background-color: rgba(0, 0, 0, 0.6);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;

   top: 0;
   bottom: 0;
   right: 0;
   left: 0;

   position: absolute;
   z-index: -1;
}

.header_wrap {
   max-width: 1170px;
   margin: 0 auto;
}

.logo-menu {
   display: flex;
   justify-content: space-between;
   vertical-align: middle;
}

.logo {
   width: 180px;
}

.menu-page {
   width: 460px;
   padding: 0;
   margin: 10px 0;
   display: flex;
   flex-direction: row;
   list-style-type: none;
   justify-content: space-between;
}

.checkbox-hidden {
   display: none;
}

a {
   font-family: "OpenSans-Regular";
   font-size: 13px;
   color: #fff;
   text-transform: uppercase;
   text-decoration: none;
   text-align: center
}

a:hover,
.tag-link a:hover {
   color: rgb(255, 204, 153);
}

.title-page-box {
   width: 690px;
   padding: 0;
   margin: 100px auto 0;
}

.title-page {
   font-family: "OpenSans-Bold";
   font-size: 45px;
   line-height: 74px;
   color: #fff;
   margin: 0;
   text-transform: uppercase;
   text-align: center;
}

   /* === блок trends === */
.content {
  margin-top: 60px;
  margin-bottom: 60px;
}

.trends__title,
.shop__title {
  text-align: center;
  text-transform: uppercase;

  font-family: OpenSans-Bold;
  font-size: 20px;
  font-weight: bold;

  margin-top: 0;
  margin-bottom: 25px;
}

.trends__title::after,
.shop__title::after {
  content: "";
  display: block;

  width: 65px;
  height: 3px;

  background-color: #b59f5b;
  margin: 10px auto 0;
}

.trends__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

.trend__card {
  width: calc((100% / 4) - 3px);
  min-height: 320px;

  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  background-size: cover;
  padding: 20px;

  position: relative;
  z-index: 0;
}

.img__first {
  background-image: url(../img/trend1.jpg);
}

.img__second {
  background-image: url(../img/trend2.jpg);
}

.img__third {
  background-image: url(../img/trend3.jpg);
}

.img__fourth {
  background-image: url(../img/trend4.jpg);
}

.trend__card::after {
  content: "";
  background-color: #000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.6;

  position: absolute;
  z-index: -1;
}

.trend__body {
  width: 100%;

  border: solid 4px rgb(181, 159, 91, 0.6);
  padding: 35px 30px 25px;
}

.card-title a {
  font-family: OpenSans-Bold;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  margin-top: 20px;
}

.tegs__trends {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  padding: 0;
}

.teg__link {
  text-decoration: none;
  text-transform: uppercase;

  font-family: OpenSans-Bold;
  font-size: 14px;
  font-weight: bold;
  color: #b59f5b;
}

.teg__link:nth-child(odd) {
  margin-right: 20px;
}

      /* === блок main === */
.main {
  width: 1170px;
  margin: 65px auto 0;
  display: flex;
}


/* --- section --- */
/* --- posts --- */

.posts {
  width: 780px;
}

.post {
  display: flex;
  margin-bottom: 50px;
  
  box-shadow: 0 0 3px #777;   /*  */
}

.post:nth-child(7) {
  margin-bottom: 0;
}

.post-img {
  width: 380px;
  height: 290px;
  display: inline-block;
  margin-right: 30px;
}

.post-text {
  width: 370px;
}

.title-head {
  font-family: "OpenSans-Bold";
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #b59f5b;
  padding-right: 20px;
}

.post .post-text .title-head a:hover {
  font-size: 14px;
  line-height: 14px;
}

.title-post-link {
  font-family: "OpenSans-Bold";
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #0f0d0e;
  margin-top: 5px;
}

.post-date {
  font-family: "OpenSans-Regular";
  font-size: 12px;
  line-height: 25px;
  color: #888;
  margin: 25px 0;
}

.post-date span {
  font-family: "OpenSans-Bold";
  color: #000;
  padding-left: 10px;
}

.post-description {
  font-family: "OpenSans-Regular";
  font-size: 15px;
  line-height: 22px;
  color: #070707;
  margin: 40px 0;
}

/* --- aside --- */

.new-posts {
  width: 270px;
  margin-left: 120px;
  text-align: center;
}

.new-posts-title {
  font-family: "OpenSans-Bold";
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #0f0d0e;
  
  padding-bottom: 25px;
  margin-top: 0;
}

.new-posts-title::after {
  content: "";
  display: block;
  height: 3px;
  width: 65px;
  margin: 15px auto 0;
  background-color: #b59f5b;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.new-post {
  text-align: left;
  display: flex;
  margin-bottom: 22px;
  box-shadow: 0 0 5px #777;  /*  */
}

.new-post img {
  width: 70px;
  height: 70px;
  margin-right: 18px;
}

.new-post-date {
  /* font-family: "OpenSans-Regular"; */
  font-size: 12px;
  line-height: 13px;
  color: #000;
  margin: 0;
}

.new-post-text {
  font-family: "OpenSans-Bold";
  font-size: 14px;
  line-height: 16px;
  /* letter-spacing: -0.1px; */
  text-transform: uppercase;
  color: #000;
  margin: 5px 0;
}

.search {
  width: 270px;
  height: 48px;
  
  display: flex;
  margin: 58px 0;
}

.search-field {
  width: 222px;
  height: 100%;
  border: none;
  background-color: #f4f7f6;
  padding-left: 18px;
}

.search-btn {
  background-image: url(../svg/search.svg);
  width: 48px;
  height: 48px;
  border: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 19px 19px;
  background-color: #b59f5b;
}

.search-field img {
  display: inline-block;
}

.social-link-text,
.visually-hidden  {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.newsletters {
  font-family: "OpenSans-Bold";
  font-size: 14px;
  line-height: 29px;
  text-transform: uppercase;
  color: #0f0d0e;
  margin-bottom: 60px;
}

.input-letters,
.button-letters {
  display: block;
  width: 270px;
  height: 50px;
  margin-bottom: 10px;
}

.input-letters {
  padding-left: 18px;
}

.button-letters {
  background-color: #b59f5b;
  border: none;
  color: white;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
}

/* === блок теги === */

.tags-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.tag-link a {
  font-family: "OpenSans-Bold";
  font-size: 13px;
  line-height: 15px;
  color: #0f0d0e;
  display: inline-block;
  padding: 4px 10px;
  margin: 0 8px  6px 0;
  border: 3px solid #eee;
  background-color: rgba(244,243,241,0);

}

.tag-link a:hover {
  border: 3px solid #b59f5b;
}

/* === блок темы === */
.topics {
  margin-top: 52px;
}

.topics-list {
  list-style-type: none;
  text-align: left;
}

.topic-item {
  padding-bottom: 13px;
  margin-bottom: 14px;
  border-bottom: 1px solid #eee;
}

.topic-link {
  font-family: "OpenSans-Bold";
  font-size: 14px;
  color: black;
  text-transform: capitalize;
  text-decoration: none;
}

.topic-number {
  font-family: inherit;
  font-size: 14px;
  color: #b59f5b;

  position: relative;
  left: 2px;
  top: -5px;
}

a {   /* === стили ссылок === */
  text-decoration: none;
}

a:hover {    /* === hover для ссылок <a> === */
  color: rgb(255, 204, 153);     
}

/* === блок наши изделия === */

.container {
  width: 1170px;
  margin: 60px auto;
}

.shop-wrap {
  display: flex;
  justify-content: space-between;
}

.shop-card {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-preview {
  padding: 30px 20px;
}

.shop-body {
  flex-grow: 1;
  margin-top: -60px;
  background-color: transparent;
  opacity: 1;
  border: 2px solid #b59f5b;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-description {
  font-family: "OpenSans-Regular";
  font-size: 15px;
}

.product-link {
  text-decoration: none;
  color: #b59f5b;
}

.footer-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  display: flex;
  flex-direction: column;
  font-family: "OpenSans-Bold";
}

.sale {
  font-size: 14px;
  text-decoration: line-through;
}

.product-button {
  width: 137px;
  height: 54px;
  text-transform: uppercase;
  font-family: opensans, Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  background-color: #b59f5b;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
