@font-face {
  /* === подключение шрифта === */
  font-family: OpenSans-Regular;
  src: local("Open Sans"), url(/fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans-Bold;
  src: local("Open Sans"), url(/fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

* {
  /* === сброс стилей margin и padding === */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrap {
  width: 100%;
}

/* === стили для header === */
.header {
  background-image: url(/img/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  padding: 30px 0 128px;
  position: relative;
  z-index: 0;
}

.header::after {
  content: "";
  height: 100%;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.6);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  position: absolute;
  z-index: -1;
}

.header_wrap {
  max-width: 1170px;
  margin: 0 auto;
}

.logo-menu {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

.logo {
  width: 180px;
}

.menu-page {
  width: 460px;
  padding: 0;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
}

.checkbox-hidden {
  display: none;
}

a {
  font-family: "OpenSans-Regular";
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

a:hover,
.tag-link a:hover {
  font-family: "OpenSans-Regular";
  font-size: 13px;
  color: rgb(255, 204, 153);
  text-align: center;
}

.title-page-box {
  width: 690px;
  padding: 0;
  margin: 100px auto 0;
}

.title-page {
  font-family: "OpenSans-Bold";
  font-size: 45px;
  line-height: 74px;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

/* ========== trends ========== */

.content {
  margin-top: 60px;
  margin-bottom: 62px;
}

.trends__title,
.shop__title {
  text-align: center;
  text-transform: uppercase;

  font-family: OpenSans-Bold;
  font-size: 20px;
  font-weight: bold;

  margin-top: 0;
  margin-bottom: 25px;
}

.trends__title::after,
.shop__title::after {
  content: "";
  display: block;

  width: 65px;
  height: 3px;

  background-color: #b59f5b;
  margin: 10px auto 0;
}

.trends__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

.trend__card {
  width: calc((100% / 4) - 3px);
  min-height: 320px;

  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  background-size: cover;
  padding: 20px;

  position: relative;
  z-index: 0;
}

.img__first {
  background-image: url(/img/trend1.jpg);
}

.img__second {
  background-image: url(/img/trend2.jpg);
}

.img__third {
  background-image: url(/img/trend3.jpg);
}

.img__fourth {
  background-image: url(/img/trend4.jpg);
}

.trend__card::after {
  content: "";
  background-color: #000000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.6;

  position: absolute;
  z-index: -1;
}

.trend__body {
  width: 100%;

  border: solid 4px rgb(181, 159, 91, 0.6);
  padding: 35px 30px 25px;
}

.card__title {
  font-family: OpenSans-Bold;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 20px;
}

.tegs__trends {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  padding: 0;
}

.teg__link {
  text-decoration: none;
  text-transform: uppercase;

  font-family: OpenSans-Bold;
  font-size: 14px;
  font-weight: bold;
  color: #b59f5b;
}

.teg__link:nth-child(odd) {
  margin-right: 20px;
}

.main {
  width: 1170px;
  margin: 65px auto 0;
  display: flex;
  /*  */
  box-shadow: 0 0 5px #555;
}
